.cell {
  width: 55px;
  height: 55px;
  /* padding: 35px; */
  text-align: center;
  font-size: calc(0.5rem + 5px) !important;
  padding-top: 20px;

  box-shadow: rgba(255, 255, 255, 0.2) 0px 0px 0px 1px inset,
    rgba(0, 0, 0, 0.9) 0px 0px 0px 1px;
}
